@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #1C1D3B;
  --color-secondary: #FFFAC2;
  --color-tertiary: #1A7A83;
  --color-quaternary: #E6EC59;
  --color-quinary: #465669;
  --color-senary: #D8E054;
}
:root{
    --color-blue-light:#A2F2F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100vh;
}

